<h1>Editing User</h1>
<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>


<%= form_with(model: @user, local: true) do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_area :name %>
  </div>
  <div class="field">
    <%= form.label :email %>
    <%= form.text_area :email %>
  </div>
  <div class="field">
  <%= form.label :password %>
    <%= form.password_field :password %>
  </div>
  <div class="field">
  <%= form.label :password_confirmation %>
  <%= form.password_field :password_confirmation %>
  </div>

  <div class="field">
    <%= image_tag(@user.user_image.url) if @user.user_image && @user.user_image.url %>
    <%= form.file_field :user_image %>
    <%= form.hidden_field :user_image_cache %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

