<h1>投稿一覧</h1>
<% @pictures.each do |picture| %>
  <p>投稿者 <%= picture.user.name %></p>
  <p>コメント <%= picture.content %></p>
  <p><%= image_tag(picture.image.url) %></p>

      <% if picture.user.name == current_user.name %>
      <p><%= link_to 'Edit', edit_picture_path(picture) %></p>
      <p><%= link_to 'Destroy', picture, method: :delete, data: { confirm: 'Are you sure?' } %></p>
    <% end %>
  <p><%= link_to 'Show', picture_path(picture) %></p>
<% end %>
<p><%= link_to 'お気に入り一覧へ', favorites_path %></p>


