<h1>投稿一覧</h1>
<% @pictures.each do |picture| %>
  <p>投稿者 <%= picture.user.name %></p>
  <p>コメント <%= picture.content %></p>
  <p><%= image_tag(picture.image.url) %></p>
  <tr>
    <th><%= link_to 'Show', picture %></th>
    <th><%= link_to 'Edit', edit_picture_path(picture) %></th>
    <th><%= link_to 'Destroy', picture, method: :delete, data: { confirm: 'Are you sure?' } %></th>
  </tr>
<% end %>